<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DelaunayMesh" version="2.0.0" targetFramework="net472" />
  <package id="GMesh" version="1.0.1.1" targetFramework="net472" />
  <package id="GMsh.Net" version="1.0.495.1" targetFramework="net472" />
  <package id="GPCGeometry" version="2.0.0.4" targetFramework="net472" />
  <package id="GPCTestUtilities" version="1.0.0.8" targetFramework="net472" />
  <package id="GPCUtilities" version="2.0.0.2" targetFramework="net472" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="3.1.1" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="3.1.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="UnsafeEx" version="1.0.0" targetFramework="net472" />
</packages>