<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GMsh.Net" version="1.0.484.1" targetFramework="net472" />
  <package id="GPCGeometry" version="1.1.0.2" targetFramework="net472" />
  <package id="GPCUtilities" version="1.0.31.2" targetFramework="net472" />
  <package id="MathNet.Numerics" version="4.15.0" targetFramework="net472" />
  <package id="MathNet.Numerics.MKL.Win-x64" version="2.5.0" targetFramework="net472" />
  <package id="MathNet.Spatial" version="0.6.0" targetFramework="net472" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net472" />
</packages>